<div class="wrapper">

    <div class="control-panel">
        <app-populate></app-populate>
        <app-train></app-train>

        <form [formGroup]="testForm" class="form-style">
            <div class="form-group">
                <label for="modelSelect">Choose model:</label>
                <select id="modelSelect" formControlName="model" class="form-control">
                    <option *ngFor="let m of models" [value]="m">{{ m }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fromDate">Date from:</label>
                <input type="date" id="fromDate" class="form-control" value="2018-01-01" placeholder="To" min="2018-01-01"
                    max="2021-12-31" formControlName="date" />
            </div>
            <div class="form-group">
                <label for="numDays">Number of days:</label>
                <select id="numDays" class="form-control" formControlName="days">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <!-- Additional options here -->
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="test()">PREDICT</button>
            </div>
        </form>
    </div>

    <div class="chart-container">
        <canvasjs-chart *ngIf="showGraph" [options]="chartOptions" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
    </div>
</div>